version: "3.9"

services:
  api:
    build: .
    container_name: yusufgram
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:16
    container_name: yusufgram_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: yusufgram
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    container_name: yusufgram_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data:
